anyio==3.5.0
asgiref==3.5.0
asyncpg==0.25.0
attrs==21.4.0
click==8.1.2
databases==0.5.5
fastapi==0.75.2
flake8==4.0.1
h11==0.13.0
idna==3.3
iniconfig==1.1.1
Mako==1.2.0
MarkupSafe==2.1.1
mccabe==0.6.1
packaging==21.3
pluggy==1.0.0
psycopg2-binary==2.9.3
py==1.11.0
pycodestyle==2.8.0
pydantic==1.9.0
pyflakes==2.4.0
pyparsing==3.0.8
pytest==7.1.2
sniffio==1.2.0
SQLAlchemy==1.4.35
starlette==0.17.1
tomli==2.0.1
typing_extensions==4.2.0
uvicorn==0.17.6
